<div class="container-fluid">
    <div class="row">
        <div class="form-title" ng-switch="vm.project.Id">
            <h4 ng-switch-when="undefined">{{'Projects.TitleCreate'|translate}}</h4>
            <h4 ng-switch-default>{{'Projects.TitleEdit'|translate}}</h4>
        </div>
    </div>
    <!-- project dashboard -->
    <!--<div class="row" ng-if="vm.project.Id">
        <div class="dashboard-line">
            <div class="col-sm-2 hidden-xs">&nbsp;</div>
            <div class="col-sm-4 col-xs-6">
                <span>{{'Projects.Time'|translate}}:&nbsp;</span><strong>{{vm.project.TimeTotal}}</strong>
            </div>
            <div class="col-sm-4 col-xs-6">
                <span>{{'Projects.Expenditures'|translate}}:&nbsp;</span><strong>{{vm.project.ExpenditureTotal|currency}}</strong>
            </div>
            <div class="col-sm-2 hidden-xs">&nbsp;</div>
        </div>
    </div>-->
</div>

<div id="content" class="container-fluid">
    <div class="row">
        <div class="col">
            <form role="form" class="form-horizontal">

                <!--<div class="form-group dashboard-line" ng-if="vm.project.Id">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-3">
                        {{'Projects.Time'|translate}}: <strong>{{vm.project.TimeTotal}}</strong>
                    </div>
                    <div class="col-sm-3">
                        {{'Projects.Expenditures'|translate}}: <strong>{{vm.project.ExpenditureTotal|currency}}</strong>
                    </div>
                </div>-->

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Visible">{{'States.Label'|translate}}</label>
                    <div class="col-sm-6">
                        <label class="btn btn-default" ng-model="vm.project.Active" uib-btn-checkbox>{{'States.Active'|translate}} <i class="glyphicon glyphicon-ok"></i></label>
                        <label class="btn btn-default" ng-model="vm.project.Visible" uib-btn-checkbox>{{'States.Visible'|translate}} <i class="glyphicon glyphicon-eye-open"></i></label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ProjectNumber">{{'Projects.Number'|translate}}</label>
                    <div class="col-sm-6">
                        <input class="form-control text-box single-line" id="ProjectNumber" name="ProjectNumber" type="text" ng-model="vm.project.ProjectNumber">
                        <span class="field-validation-valid text-danger" data-valmsg-for="ProjectNumber" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Customer">{{'Projects.Customer'|translate}}</label>
                    <div class="col-sm-6">
                        <input class="form-control text-box single-line" id="Customer" name="Customer" type="text" ng-model="vm.project.Customer">
                        <span class="field-validation-valid text-danger" data-valmsg-for="Customer" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="TimeTotal">{{'Projects.Time'|translate}}</label>
                    <div class="col-sm-6">
                        <input class="form-control text-box single-line" id="TimeTotal" name="TimeTotal" type="text" ng-readonly="true" ng-model="vm.project.TimeTotal">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ExpenditureTotal">{{'Projects.Expenditures'|translate}}</label>
                    <div class="col-sm-6">
                        <input class="form-control text-box single-line" id="ExpenditureTotal" name="ExpenditureTotal" type="text" ng-readonly="true" ng-model="vm.project.ExpenditureTotal">
                    </div>                    
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Description">{{'Projects.Description'|translate}}</label>
                    <div class="col-sm-6">
                        <textarea id="Description" name="Description" class="form-control" rows="3" ng-model="vm.project.Description" Xplaceholder="{{'Projects.Description'|translate}}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" ng-click="vm.save()">{{'Commands.Save'|translate}}</button>
                        <button type="button" class="btn btn-danger" ng-if="vm.project.Id" ng-click="vm.delete()">{{'Commands.Delete'|translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-6">
                        <a ui-sref="projects">{{'Commands.BackToList'|translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>