body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.copyright {
    font-size: smaller;
    color: lightgray;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*.navbar-brand {
    background: url('Images/iejp-logo.jpg') center no-repeat;
    background-size: 50%; 
}*/

/*
.navbar-brand {
    display: inline-block;
    float: none;
}

.navbar-toggle {
    float: none;
    color: #FFF;
    margin-left: 4px;
}
*/

.navbar-fixed-bottom {
    padding: 10px 0;
    margin-top: 10px;
}

#content {
    margin-bottom: 40px;
}

.page-title {
    margin-bottom: 30px;
}

.action-bar {
    padding: 15px 0;
}

.command-bar {
    padding: 15px 0;
}

.card-title {
    margin-bottom: 10px;
}

.card-state-icons {
    margin-left: 10px;
}

.card-block {
    padding-right: 15px;
}

.form-title {
    margin-bottom: 20px;
    border-bottom: 1px dotted #eee;
}

/* Card List Widgets */
.project-list {
    /*background-color: lightblue;*/
}

/*links without href*/
a {
	cursor: pointer;
}

/* list-group-items in panels*/
.panel-heading+.list-group .list-group-item:first-child {
	border-top-width: 1px;
}

.bootcards-cards .list-group > div:first-child .list-group-item {
	border-top-width: 0 !important;
}

a.list-group-item:before {
    font-family: Glyphicons Halflings;
    content: "\e080";
    position: absolute;
    right: 10px; /*15*/
    top: 50%;
    font-size: 14px;
    line-height: 14px;
    margin-top: -7px;
    color: #ccc;
}

.top-buffer {
     margin-top: 15px;
}

.table-totals {
    font-weight: bold;
}
    .table-totals td {
        /*border: 1px solid blue;*/
    }

.active-check {
    color: green;
}

.dashboard-line {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
}

.wide-column {
    max-width: 150px; 
    word-wrap: break-word;
}

/* TimeSheet List Styles */
.timesheet-list {
    font-size: small;
}
    .timesheet-list .time {
        font-weight: bold;
        font-size: medium;
        border-bottom: 1px solid lightblue;
    }
    .timesheet-list .employee {
        font-weight: normal;
        font-size: small;
    }
    .timesheet-list .project {
        font-weight: normal;
        font-size: small;
    }
    .timesheet-list .comment {
        font-weight: normal;
        font-size: small;
        font-style: italic;
        color: gray;
    }

.expenditure-list {
    font-size: small;
}
    .expenditure-list .time {
        font-weight: bold;
        font-size: medium;
        border-bottom: 1px solid lightblue;
    }
    .expenditure-list .employee {
        font-weight: normal;
    }
    .expenditure-list .project {
        font-weight: normal;
    }
    .expenditure-list .comment {
        font-weight: normal;
        font-style: italic;
        color: gray;
    }

.current-period {
    background-color: whitesmoke;
    font-weight: bold;
}

div.info-bulle {
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1), 0 7px 15px -3px rgba(0, 0, 0, 0.1);
    padding: 30px 25px;
}

div.info-bulle:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 7px 0 7px;
    border-color: #ffffff transparent transparent transparent;
    bottom: -11px;
    left: 24px;
}

div.info-bulle:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    height: 30px;
    width: 224px;
}

div.menu-grid {
}

div.menu-grid-line {
    border-top: 1px dotted silver;
}