<div class="container-fluid">
    <div class="row">
        <div class="form-title" ng-switch="vm.transaction.Id">
            <h4 ng-switch-when="undefined">{{'TimeSheet.TitleCreate'|translate}}</h4>
            <h4 ng-switch-default>{{'TimeSheet.TitleEdit'|translate}}</h4>
        </div>
    </div>
</div>
<div id="content" class="container-fluid">
    <div class="row">
        <div class="col">
            <form role="form" class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="TransactionDate">{{'TimeSheet.Day'|translate}}</label>
                    <div class="col-sm-6">
                        <input type="date" class="form-control text-box single-line" id="TransactionDate"
                               name="TransactionDate" ng-model="vm.transaction.TransactionDate"
                               placeholder="yyyy-MM-dd" xmin="2016-06-01" xmax="2016-06-31" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Employee">{{'TimeSheet.Employee'|translate}}</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="Employee" name="Employee"
                                ng-model="vm.transaction.Employee"
                                ng-options="option as (option | employeefull) for option in vm.employees track by option.Id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Project">{{'TimeSheet.Project'|translate}}</label>
                    <div class="col-sm-6">
                        <select class="form-control" id="Project" name="Project"
                                ng-model="vm.transaction.Project"
                                ng-options="option as (option | projectfull) for option in vm.projects track by option.Id">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Time">{{'TimeSheet.Time'|translate}}</label>
                    <div class="col-sm-6">
                        <input id="Time" name="Time" class="form-control" ng-model="vm.transaction.Time" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Comment">{{'TimeSheet.Comment'|translate}}</label>
                    <div class="col-sm-6">
                        <textarea id="Comment" name="Comment" class="form-control" rows="3" ng-model="vm.transaction.Comment" placeholder="{{'TimeSheet.Comment'|translate}}"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-6">
                        <button type="button" class="btn btn-primary" ng-click="vm.save()">{{'Commands.Save'|translate}}</button>
                        <button type="button" class="btn btn-danger" ng-disabled="vm.transaction.Id === undefined" ng-click="vm.delete()">{{'Commands.Delete'|translate}}</button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">&nbsp;</div>
                    <div class="col-sm-6">
                        <a ui-sref="timesheet">{{'Commands.BackToList'|translate}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>