<div class="container-fluid">
    <div class="row">
        <div ng-switch="vm.transaction.Id">
            <h3 ng-switch-when="undefined">{{'TimeSheet.TitleCreate'|translate}}</h3>
            <h3 ng-switch-default>{{'TimeSheet.TitleEdit'|translate}}</h3>
        </div>
    </div>
</div>

<div id="content" class="container-fluid">
    <div class="Xrow">
        <form role="form">
            <div class="form-horizontal">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Active">{{'Projects.Active'|translate}}</label>
                        <div class="col-xs-12 col-sm-10">
                            <input class="check-box" data-val="true" data-val-required="The Active field is required." id="Active" name="Active" type="checkbox" ng-model="vm.project.Active">
                        </div>
                    </div>
                </div>

                <!--<select class="form-control" ng-model="item.projectId">
                        <option ng-repeat="option in vm.projects" value="{{option.Id}}">
                            {{option.Customer}} - {{option.Description}}
                        </option>
                    </select>-->

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="ProjectNumber">{{'Projects.Number'|translate}}</label>
                        <div class="col-xs-12 col-sm-10">
                            <input class="form-control text-box single-line" id="ProjectNumber" name="ProjectNumber" type="text" ng-model="vm.project.ProjectNumber">
                            <span class="field-validation-valid text-danger" data-valmsg-for="ProjectNumber" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Customer">{{'Projects.Customer'|translate}}</label>
                        <div class="col-xs-12 col-sm-10">
                            <input class="form-control text-box single-line" id="Customer" name="Customer" type="text" ng-model="vm.project.Customer">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Customer" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="Description">{{'Projects.Description'|translate}}</label>
                        <div class="col-xs-12 col-sm-10">
                            <input class="form-control text-box single-line" id="Description" name="Description" type="text" ng-model="vm.project.Description">
                            <span class="field-validation-valid text-danger" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-xs-12 col-sm-10">
                            <p class="card-text" ng-if="vm.project.Updated">
                                <small class="text-muted">{{'LastUpdated'|translate}} {{vm.project.Updated}}</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div id="footer" class="visible-xs">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-4 text-center">
                <button class="btn btn-primary" ng-click="vm.save()"><i class="glyphicon glyphicon-save"></i></button>
            </div>
            <div class="col-xs-4 text-center">
                <button class="btn btn-default" ui-sref="timesheet"><i class="glyphicon glyphicon-list"></i></button>
            </div>
            <div class="col-xs-4 text-center">
                <button class="btn btn-danger" ng-if="vm.transaction.Id" ng-click="vm.delete()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid hidden-xs">
    <div class="row top-buffer">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary" ng-click="vm.save()">{{'Commands.Save'|translate}}</button>
            <button class="btn btn-danger" ng-disabled="vm.transaction.Id === undefined" ng-click="vm.delete()">{{'Commands.Delete'|translate}}</button>
        </div>
    </div>

    <div class="row top-buffer">
        <a ui-sref="timesheet">{{'Commands.BackToList'|translate}}</a>
    </div>
</div>