<div class="container-fluid">
    <div class="row">
        <div class="page-title">
            <h3>{{'TimeSheet.TitleList'|translate}}</h3>
        </div>
    </div>
</div>

<div class="container-fluid command-bar">
    <div class="row">
        <div class="col-xs-8 col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="vm.filter" placeholder="{{'Commands.Filter'|translate}}">
            </div>
        </div>

        <div class="col-xs-4 col-sm-6">
            <div class="form-group text-right">
                <button class="btn btn-success" Xui-sref="timesheet-create" ng-click="vm.add()">{{'Commands.Create'|translate}}</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <span>Current: {{vm.currentPeriod}}</span>
                <select class="form-control" ng-model="vm.currentPeriod">
                    <option ng-repeat="option in vm.periods" ng-class="{ 'current-period': option.IsCurrent === true }"
                            value="{{option.StartDate|date:'yyyy-MM-dd'}}">
                        [{{option.WeekNumber|padzero:2}}] {{option.StartDate|date:'yyyy-MM-dd'}} - {{option.EndDate|date:'yyyy-MM-dd'}}
                    </option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row hidden-xs">
        <div class="timesheet-list">
            <table class="table">
                <tr>
                    <th>{{'TimeSheet.Day' | translate}}</th>
                    <th class="wide-column">{{'TimeSheet.Project' | translate}}</th>
                    <th>{{'TimeSheet.Time' | translate}}</th>
                    <th class="wide-column">{{'TimeSheet.Comment' | translate}}</th>
                    <th class="text-right"></th>
                </tr>
                <tr ng-repeat="item in vm.transactions | filter: vm.filter | orderBy: 'TransactionDate' as filteredTransactions">
                    <td>{{item.TransactionDate|date: "EEEE, dd"}}</td>
                    <td class="wide-column">{{item.Project.Customer}} - {{item.Project.Description}}</td>
                    <td>{{item.Time}}</td>
                    <td class="wide-column">{{item.Comment}}</td>
                    <td class="text-right">
                        <a ui-sref="timesheet-edit({ id: '{{item.Id}}' })" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a ng-click="vm.delete(item.Id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
                <tfoot class="table-totals">
                    <tr>
                        <td colspan="2">{{filteredTransactions.length}} {{'Totals.Of'|translate}} {{vm.transactions.length}} {{'Totals.Transaction'|translate}}</td>
                        <td>{{vm.timeTotal(filteredTransactions)}}</td>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row visible-xs">
        <div class="timesheet-list">
            <div class="list-group">
                <a class="list-group-item" ui-sref="timesheet-edit({ id: '{{item.Id}}' })" 
                   ng-repeat="item in vm.transactions | filter: vm.filter | orderBy: 'TransactionDate' as filteredTransactions">
                    <div class="card">
                        <div class="card-block">                            
                            <p class="card-title time">
                                <span>{{item.TransactionDate|date: "EEEE, dd"}}</span>
                            </p>
                            <div class="card-text employee">
                                <span><strong>{{'TimeSheet.Employee'|translate}}:</strong> {{item.Employee.FullName}}</span>
                            </div>
                            <div class="card-text project">
                                <span><strong>{{'TimeSheet.Time'|translate}}:</strong> {{item.Time}} h</span>
                            </div>
                            <div class="card-text project">
                                <span><strong>{{'TimeSheet.Project'|translate}}:</strong> {{item.Project.Customer}} - {{item.Project.Description}}</span>
                            </div>
                            <div class="card-text comment" ng-if="item.Comment">
                                <p>{{item.Comment}}</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>