@using IEJPApps.Models

@{
    ViewBag.Title = "Home Page";
}

@if (ViewBag.DebugRoles != null)
{
    <pre>
        Language: @ViewBag.Language
        SessionId: @ViewBag.SessionId
        IsAdmin: @User.IsInRole(UserRoles.Admin)
        IsEmployee: @User.IsInRole(UserRoles.Employee)
    </pre>
}

<div class="flash-message" ng-if="flash">
    <div class="alert {{'alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>

<div class="ui-view"></div>