@{
    ViewBag.Title = "Home Page";
}

<div class="flash-message" ng-if="flash">
    <div class="alert {{'alert-' + flash.type}}" ng-bind="flash.message"></div>
</div>

<div class="ui-view"></div>