<div class="container-fluid">
    <div class="row">
        <div ng-switch="vm.employee.Id" class="page-title">
            <h3 ng-switch-when="undefined">{{'Employees.TitleCreate'|translate}}</h3>
            <h3 ng-switch-default>{{'Employees.TitleEdit'|translate}}</h3>
        </div>
    </div>
</div>

<div id="content" class="container-fluid">
    <form>
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group" ng-if="false">
                    <div class="col-xs-12 col-md-12">
                        <span><small>{{vm.employee.Id}}</small></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Active">{{'Employees.Active'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="check-box" data-val="true" data-val-required="The Active field is required." id="Active" name="Active" type="checkbox" ng-model="vm.employee.Active">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Number">{{'Employees.Number'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="form-control text-box single-line" id="Number" name="Number" type="text" ng-model="vm.employee.Number">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="FirstName">{{'Employees.FirstName'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="form-control text-box single-line" id="FirstName" name="FirstName" type="text" ng-model="vm.employee.FirstName">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="LastName">{{'Employees.LastName'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="form-control text-box single-line" id="LastName" name="LastName" type="text" ng-model="vm.employee.LastName">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Rate">{{'Employees.Rate'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="form-control text-box single-line" id="Rate" name="Rate" type="text" ng-model="vm.employee.Rate">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Mobile">{{'Employees.Mobile'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="form-control text-box single-line" id="Mobile" name="Mobile" type="text" ng-model="vm.employee.Mobile">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Email">{{'Employees.Email'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="form-control text-box single-line" id="Email" name="Email" type="text" ng-model="vm.employee.Email">
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="footer" class="visible-xs">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-4 text-center">
                <button class="btn btn-primary" ng-click="vm.save()"><i class="glyphicon glyphicon-save"></i></button>
            </div>
            <div class="col-xs-4 text-center">
                <button class="btn btn-default" ui-sref="employees"><i class="glyphicon glyphicon-list"></i></button>
            </div>
            <div class="col-xs-4 text-center">
                <button class="btn btn-danger" ng-if="vm.employee.Id" ng-click="vm.delete()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid hidden-xs">
    <div class="row top-buffer">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary" ng-click="vm.save()">{{'Commands.Save'|translate}}</button>
            <button class="btn btn-danger" ng-disabled="vm.employee.Id === undefined" ng-click="vm.delete()">{{'Commands.Delete'|translate}}</button>
        </div>
    </div>

    <div class="row top-buffer">
        <a ui-sref="employees">{{'Commands.BackToList'|translate}}</a>
    </div>
</div>
