<div class="container-fluid">
    <div class="row">
        <div class="form-title" ng-switch="vm.transaction.Id">
            <h4 ng-switch-when="undefined">{{'Expenditures.TitleCreate'|translate}}</h4>
            <h4 ng-switch-default>{{'Expenditures.TitleEdit'|translate}}</h4>
        </div>
    </div>
</div>

<div id="content" class="container-fluid">
    <form>
        <div class="form-horizontal">
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="TransactionDate">{{'Expenditures.Date'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input type="date" class="form-control text-box single-line" id="TransactionDate"
                               name="TransactionDate" ng-model="vm.transaction.TransactionDate"
                               placeholder="yyyy-MM-dd" xmin="2016-06-01" xmax="2016-06-31" required />
                    </div>
                </div>
            </div>
            <div class="row" ng-if="environment.isAdmin">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Employee">{{'Expenditures.Employee'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <select id="Employee" name="Employee" class="form-control" ng-model="vm.transaction.EmployeeId">
                            <option ng-repeat="option in vm.employees" value="{{option.Id}}">{{option.FullName}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Project">{{'Expenditures.Project'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <select id="Project" name="Project" class="form-control" ng-model="vm.transaction.ProjectId">
                            <option ng-repeat="option in vm.projects" value="{{option.Id}}">{{option.Customer}} - {{option.Description}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="ExpenditureType">{{'Expenditures.ExpenditureType'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <select id="ExpenditureType" name="ExpenditureType" class="form-control" ng-model="vm.transaction.ExpenditureType">
                            <option ng-repeat="option in vm.expenditureTypes" value="{{option.Id}}">{{option.Name}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Amount">{{'Expenditures.Amount'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <input class="form-control text-box single-line" id="Amount" name="Amount" type="text" ng-model="vm.transaction.Amount">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Comment">{{'Expenditures.Comment'|translate}}</label>
                    <div class="col-xs-12 col-sm-10">
                        <textarea id="Comment" name="Comment" class="form-control" rows="3" ng-model="vm.transaction.Comment"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<div id="footer" class="visible-xs">
    <div class="col-xs-12 navbar-inverse navbar-fixed-bottom">
        <div class="row" id="bottomNav">
            <div class="col-xs-4 text-center">
                <button class="btn btn-primary" ng-click="vm.save()"><i class="glyphicon glyphicon-save"></i></button>
            </div>
            <div class="col-xs-4 text-center">
                <button class="btn btn-default" ui-sref="expenditures"><i class="glyphicon glyphicon-list"></i></button>
            </div>
            <div class="col-xs-4 text-center">
                <button class="btn btn-danger" ng-if="vm.transaction.Id" ng-click="vm.delete()"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid hidden-xs">
    <div class="row top-buffer">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3">
            <button class="btn btn-primary" ng-click="vm.save()">{{'Commands.Save'|translate}}</button>
            <button class="btn btn-danger" ng-disabled="vm.transaction.Id === undefined" ng-click="vm.delete()">{{'Commands.Delete'|translate}}</button>
        </div>
    </div>
    <div class="row top-buffer">
        <a ui-sref="expenditures">{{'Commands.BackToList'|translate}}</a>
    </div>
</div>