<div class="container-fluid">
    <div class="row">
        <div class="page-title">
            <h3>{{'ExpenditureTypes.TitleList'|translate}}</h3>
        </div>
    </div>
</div>

<div class="container-fluid command-bar">
    <div class="row">
        <div class="col-xs-8 col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="vm.filter" placeholder="{{'Commands.Filter'|translate}}">
            </div>
        </div>

        <div class="col-xs-4 col-sm-6">
            <div class="form-group text-right">
                <button class="btn btn-success" ui-sref="expenditure-types-create">{{'Commands.Create'|translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row hidden-xs">
        <div class="expenditure-types-list">
            <table class="table">
                <tr>
                    <th class="text-center">{{'States.Active'|translate}}</th>
                    <th class="text-center">{{'States.Visible'|translate}}</th>
                    <th>{{'ExpenditureTypes.Name'|translate}}</th>
                    <th>{{'ExpenditureTypes.Description'|translate}}</th>
                    <th class="text-right"></th>
                </tr>
                <tr ng-repeat="item in vm.expenditureTypes | filter: vm.filter | orderBy: 'Name' as filteredItems">
                    <td class="text-center text-muted small"><i class="glyphicon glyphicon-ok" ng-if="item.Active"></i></td>
                    <td class="text-center text-muted small"><i class="glyphicon glyphicon-eye-open" ng-if="item.Visible"></i></td>
                    <td>{{item.Name}}</td>
                    <td>{{item.Description}}</td>
                    <td class="text-right">
                        <a ui-sref="expenditure-types-edit({ id: '{{item.Id}}' })" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a ng-click="vm.delete(item.Id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row visible-xs">
        <div class="expenditure-types-list">
            <div class="list-group">
                <a class="list-group-item" ui-sref="expenditure-types-edit({ id: '{{item.Id}}' })" ng-repeat="item in vm.expenditureTypes | filter: vm.filter | orderBy: 'Name' as filteredItems">
                    <div class="card">
                        <div class="card-block">
                            <div class="card-title">
                                <strong>{{item.Name}}</strong>
                                <small class="text-muted card-state-icons">
                                    <i class="glyphicon glyphicon-ok" ng-if="item.Active"></i>
                                    <i class="glyphicon glyphicon-eye-open" ng-if="item.Visible"></i>
                                </small>
                            </div>
                            <div class="card-text">
                                <small>{{item.Description}}</small>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>