
<div class="container-fluid">
    <div class="row">
        <div class="page-title">
            <h3>{{'Expenditures.TitleList'|translate}}</h3>
        </div>
    </div>
</div>

<div class="container-fluid command-bar">
    <div class="row">
        <div class="col-xs-8 col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" ng-model="vm.filter" placeholder="{{'Commands.Filter'|translate}}">
            </div>
        </div>

        <div class="col-xs-4 col-sm-6">
            <div class="form-group text-right">
                <button class="btn btn-success" ui-sref="expenditures-create">{{'Commands.Create'|translate}}</button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row hidden-xs">
        <div class="expenditure-list">
            <table class="table">
                <tr>
                    <th>{{'Expenditures.Date'|translate}}</th>
                    <th ng-if="environment.isAdmin">{{'Expenditures.Employee'|translate}}</th>
                    <th>{{'Expenditures.Project'|translate}}</th>
                    <th>{{'Expenditures.ExpenditureType'|translate}}</th>
                    <th class="text-right">{{'Expenditures.Amount'|translate}}</th>
                    <th>{{'Expenditures.Comment'|translate}}</th>
                    <th class="text-right"></th>
                </tr>
                <tr ng-repeat="item in vm.transactions | filter: vm.filter | orderBy: 'TransactionDate' as filteredTransactions">
                    <td>{{item.TransactionDate | date: "yyyy-MM-dd"}}</td>
                    <td ng-if="environment.isAdmin">{{item.Employee.FullName}}</td>
                    <td class="wide-column">{{item.Project.Customer}} - {{item.Project.Description}}</td>
                    <td>{{item.ExpenditureType}}</td>
                    <td class="text-right">{{item.Amount | currency}}</td>
                    <td>{{item.Comment}}</td>
                    <td class="text-right">
                        <a ui-sref="expenditures-edit({ id: '{{item.Id}}' })" class="btn btn-primary"><i class="glyphicon glyphicon-pencil"></i></a>
                        <a ng-click="vm.delete(item.Id)" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i></a>
                    </td>
                </tr>
                <tfoot class="table-totals">
                    <tr>
                        <td colspan="{{environment.isAdmin ? 4 : 3}}">{{filteredTransactions.length}} {{'Totals.Of'|translate}} {{vm.transactions.length}} {{'Totals.Transaction'|translate}}</td>
                        <td class="text-right">{{vm.total(filteredTransactions) | currency}}</td>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div class="row visible-xs">
        <div class="expenditure-list">
            <div class="list-group">
                <a class="list-group-item" ui-sref="expenditures-edit({ id: '{{item.Id}}' })"
                   ng-repeat="item in vm.transactions | filter: vm.filter | orderBy: 'TransactionDate' as filteredTransactions">
                    <div class="card">
                        <div class="card-block">
                            <p class="card-title time">
                                <span><strong>{{item.TransactionDate | date: "yyyy-MM-dd"}}</strong></span>
                                <span class="pull-right">{{item.Amount | currency}}</span>
                            </p>
                            <div class="card-text employee" ng-if="environment.isAdmin">
                                <span><strong>{{'Expenditures.Employee'|translate}}:</strong> {{item.Employee.FullName}}</span>
                            </div>
                            <div class="card-text project">
                                <span><strong>{{'Expenditures.Project'|translate}}:</strong> {{item.Project.FullDescription}}</span>
                            </div>
                            <div class="card-text type">
                                <span><strong>{{'Expenditures.ExpenditureType'|translate}}:</strong> {{item.ExpenditureType}}</span>
                            </div>
                            <div class="card-text comment" ng-if="item.Comment">
                                <span>{{item.Comment}}</span>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>